<!DOCTYPE html>
<html>
    <head>
        <title">
            <h2 style="text-align: center;">Load image to improve its resolution</h3>
        </title>
    </head>
    <body>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <form method=post enctype=multipart/form-data
                style="display: flex; flex-direction: row; background-color: lightgrey">
                <input type=file name=file style="margin: 10px;">
                <input type=submit value=Загрузить style="margin: 10px;">
            </form>        
            <img src="{{ url_for('static', filename='upload.jpg')}}" 
                        style="display: flex; min-width: 300px; min-height: 300px; 
                        max-height: 50%; max-width: 50%; background-color: darkgray; margin: 10px;">
            <a href="/enhance"><button style="margin: 10px;">Увеличить</button></a>
            <img src="{{ url_for('static', filename='arrow.jpg')}}" width="30" height="30" style="margin: 10px;">
            
            <hr style="width: 80%; height: 3px;  background-color: lightgrey;"/>
            <span>SRGAN neural network  <a href="/downloadSrgan"><button style="margin: 10px;">Скачать</button></a></span>
            <img src="{{ url_for('static', filename='srgan_download.jpg')}}"
                style="display: flex; min-width: 300px; min-height: 300px; 
                max-height: 50%; max-width: 50%; background-color: darkgray; margin: 10px;">
            
            <hr style="width: 80%; height: 3px; background-color: lightgrey;"/>
            <span>SRRESNET neural network  <a href="/downloadSrresnet"><button style="margin: 10px;">Скачать</button></a></span>
            <img src="{{ url_for('static', filename='srresnet_download.jpg')}}" 
            style="display: flex; min-width: 300px; min-height: 300px; 
            max-height: 50%; max-width: 50%; background-color: darkgray; margin: 10px;">
            
            <hr style="width: 80%; height: 3px; background-color: lightgrey;"/>
            <span>BICUBIC  <a href="/downloadBicubic"><button style="margin: 10px;">Скачать</button></a></span>
            <img src="{{ url_for('static', filename='bicubic_download.jpg')}}" 
            style="display: flex; min-width: 300px; min-height: 300px; 
            max-height: 50%; max-width: 50%; background-color: darkgray; margin: 10px;">
        </div>
    </body>
</html>